@import '../../components/Variables/palletColor/palletColor.scss';

.container {
    display: flex;

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 2.5;
        border-radius: 1px solid green;
        width: 100vw;

        .background {
            width: 60%;
            height: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background-color: $primarywhite;
            gap: 3.8rem;
            padding: 2rem;
            box-sizing: border-box;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

            & span {
                font-size: 2rem;
                font-weight: 600;
            }

            .containerButtonsControl {
                button {
                    border-radius: 0;

                    &:first-child {
                        border-radius: 6px 0 0 6px;
                    }

                    &:last-child {
                        border-radius: 0px 6px 6px 0px;
                    }
                }

                .ActiveBtnSelector {
                    background-color: $primarygreen_active2;
                }
            }

            .counter {
                font-size: 6rem;
                font-weight: 700;
            }

            .BTN-Comecar {
                width: 30%;
                height: 4rem;
                font-size: 1.5rem;
            }

            .ActiveBtnCounter {
                background-color: $primaryred;
            }
        }
    }

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        flex: 1.2;
        background-color: green;
        height: 100vh;

        .containerDashboard {
            width: 100%;
            height: 100%;
            .TitleDaysOfensive {
                margin: 1rem 0;
                font-weight: 600;
                color: $primarywhite;
                font-size: 1.6rem;
            }
            .ContainerOfensive {
                display: flex;
                justify-content: space-around;
                width: 95%;
                height: 5.6rem;
                border-radius: 6px;
                background-color: black;

                .ContainerTitleAndCheck {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.3rem;
                    color: $primarywhite;
                    font-weight: 600;

                    .CheckOfensive {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        background-color: rgb(102, 102, 102);
                        .CheckSeg{
                            height: 100%;   
                        }
                    }
                }
            }
        }

    }


}