$primarygreen: #31ACA0;
$primarygreen_hover: #51b2a8;
$primarygreen_active: #6dc7be;
$primarygreen_active2: #25857c;
$primarywhite: #ffffff;
$primarywhite_HOVER: #eeeeee;
$primarywhite_ACTIVE: #f9f9f9;
$primaryred: rgb(219, 0, 00);