@import '../../src/assets/components/Variables/palletColor/palletColor.scss';

.backgroundLogin {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
        background-color: $primarywhite;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);

        h1 {
            margin: 2rem 0;
            color: $primarygreen;
        }

        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;


            & .login-form-group {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                & input {
                    width: 30rem;
                    height: 2rem;
                    border-radius: 6px;
                    border: none;
                    outline: none;
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                }

                & input:focus {
                    outline: 2px solid $primarygreen;
                }
            }

            .FooterForm {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .ButtonAndForgotPassword {
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;
                    button {
                        margin-top: 1rem;
                        width: 30.3rem;
                    }
                    span{
                        text-align: end;
                    }
                }


                span {
                    font-size: 0.8rem;

                    & .FooterLogin {
                        text-decoration: none;
                        color: $primarygreen;
                        font-weight: bold;
                    }
                }
            }



        }
    }
}